<footer class="page-footer">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center bg-amarelo">
            <h3>Redes sociais</h3>
        </div>
        <div class="row bg-transparent">
            <div class="col-md-12 d-flex justify-content-center bg-amarelo text-dark">
                <ul class="social-network">
                    <li>
                        <a href=""><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="logoInsta" height="30px" width="30px"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyrigth bg-azul text-center py-3 text-dark">
        <span class=""> 2021 Copyrigth: </span>
        <a href="https://github.com/GustavoFreitas22/projeto-Generation-A-Ponte-Frontend" class="text-dark" target="_blank">Acessar</a>
    </div>
</footer>