ul.social-network{
    list-style: none;
    padding: 0px;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.bg-amarelo{
    background-color: #F2EC99;
}
.bg-azul{
    background-color: #99E9F2;
}