.borda{
    border: solid 2px #9475BF;
    border-radius: 25px;
}
/* .botao:hover{
    background-color: #99E9F2;
} */
.borda-img{
    border: solid 1px rgb(211, 156, 224);
    box-shadow: 5px 3px rgb(211, 156, 224);
}
.feed{
    border-right: solid 2px #A0D9AE;
    border-left: solid 2px #A0D9AE;
    background-color: #99E9F2;;
}
.botao{
    background-color: #fff;
}
#menu{
    /* background-color: rgb(211, 156, 224); */
    background-image: url('https://i.imgur.com/OqtsBWE.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;

}
.bg-amarelo{
    background-color: #FFF;
}

#img-bg{
    background-image: url('https://i.imgur.com/OqtsBWE.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
}