.borda{
    border: solid 2px #A0D9AE;
    border-radius: 25px;
}
.botao:hover{
    background-color: #99E9F2;
}
.borda-img{
    border: solid 1px rgb(211, 156, 224);
    box-shadow: 5px 3px rgb(211, 156, 224);
}
.feed{
    border-right: solid 2px #A0D9AE;
    border-left: solid 2px #A0D9AE;
}
ul li{
    color: #000;
}
#menu{
    background-color: rgb(211, 156, 224);
}
.bg-amarelo{
    background-color: #F2EC99;
}
.bg-cinza{
    background-color: #adb5bd;
}