<div class="container-fluid" id="img-bg">
    <div class="row p-3">
        <div class="col-md-12">
            <nav class="nav nav-pills nav-fill">
                <a class="nav-item nav-link" href="#">Freitas</a>
                <a class="nav-item nav-link" href="#">Leonardo</a>
                <a class="nav-item nav-link" href="#">Ana</a>
                <a class="nav-item nav-link" href="#">Gustavo</a>
                <a class="nav-item nav-link" href="#">Alessandra</a>
                <a class="nav-item nav-link" href="#cardCaio">Caio</a>
              </nav>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-12 ">
            
            <div class="card d-flex justify-content-center" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/BrgLukz.jpg" width="350px" height="350px" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Gustavo Freitas</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
            
            <div class="card d-flex justify-content-center" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/O3oJ5m8.jpg"  width="350px" height="350px" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Leonardo Trotta</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card d-flex justify-content-center" style="width: 18rem;">
                <img class="card-img-top" src="blob:https://web.whatsapp.com/46a49875-ada5-447d-85fa-41f0fadb1411" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Ana Pacheco</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card d-flex justify-content-center" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Gustavo</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>

            <div class="card d-flex justify-content-center" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Alessandra</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>

            </div>
            <div id='cardCaio' class="card d-flex justify-content-center" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Caio</h5>
                  <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
                  <a href="#cardCaio" class="btn btn-primary">Visitar</a>
                </div>
            </div>
            
        </div>
    </div>
</div>
