*{
    font-family: 'Open Sans', sans-serif;
}
#img-bg{
    background-image: url('https://i.imgur.com/OqtsBWE.jpg');
    background-position: center;
    min-height:100vh ;
    min-width: 100vh;
    background-repeat: no-repeat;
    background-size:cover ;
}
#options-menu ul{
    list-style: none;
    padding: 0px;
}

#options-menu li{
    display: inline-block;
    padding: 60px;
}
.borda{
    border: solid 2px #9475BF;
    border-radius: 25px;
}
.botao{
    width: 150px;
    height: 50px;
}
.botao:hover{
    background-color: #99E9F2;
}
.borda-img{
    border: solid 1px rgb(211, 156, 224);
    box-shadow: 5px 3px rgb(211, 156, 224);
}